.hero {
  height: 270px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  line-height: 48px;
  font-weight: 600;
  margin: 20px;
}

h1 {
  margin: 0;
  font-weight: 700;
}

.HeroImage {
  height: 212px;
  width: 212px;
}